/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: rgb(53, 94, 103);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #00aaff; 
}

/* Descripción */
p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #f1f1f1;
}
